.title {
    margin: 107px auto 70px auto ;
}

.ratesCard {
    display: flex;
    justify-content: space-between;
    margin-bottom: 118px;
}

.formCard {
    width: 31%;
    height: fit-content;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.formCard:hover {
    cursor: pointer;
}

.selected {
    border: 2px solid #FFB64F;
}

.formCard button {
    width: 100%;
}

.formCardTop {
    height: 132px;
    background: #FFB64F;
    /* padding: 30px; */
    padding: 30px 15px 30px 30px;
    display: flex;
    border-radius: 10px 10px 0 0;
    justify-content: space-between;
    /* align-items: last baseline; */
}

.currentRate {
    background: #3BA5E0;
    border-radius: 10px;
    width: 134px;
    height: 24px;
    margin-left: 65%;
    text-align: center;
    padding-top: 3px;
    margin-top: -25px;
}

.currentRate p {
    font-size: 14px;
    line-height: 17px;
    color: white;
}
/* p {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.01em;
} */

.formCard:nth-child(2) .formCardTop {
    background: #7CE3E1;
}

.formCard:nth-child(3) .formCardTop {
    background: #000000;
    color:white
}

.rateText {
    width: 92%;
    margin: 43px auto 24px;
}

.rateIncludes {
    font-size: 20px;
    line-height: 24px;
}


s {
    opacity: 0.5;
}

ol {
    list-style: none;
    margin: 0px;
    padding-left: inherit
}

ol > li {
    padding-left: 20px;
    position: relative;
    margin: 3px;
    font-family: 'Inter';
    font-size: 18px;
    line-height: 22px;
}

ol > li:before {
    content: url(/src/assets/check-mark.svg);
    position: absolute; 
    top: 0; 
    left: -5px;
}

.cabinet {
    background: #D2D2D2;
    color: #000000;
}

@media screen and (max-width: 1000px) {
    .ratesCard {
      flex-direction: column;
      align-items: center;
      margin-bottom: 0px;
    }

    .formCard {
        width: 90%;
        margin-bottom: 43px;
    }

    .currentRate {
        display: none;
    }
  }