.navigation {
    display: flex;
    justify-content:space-between; 
    list-style: none;
    /* align-items: center; */
}

nav {
    width: 25%;
}

.item {
    list-style: none;
    color: black;
    letter-spacing: 0.01em;
}

.item a {
    color: black;
}

.item a:hover {
    text-decoration: none;
    color: #029491;
}

@media screen and (max-width: 1000px) {
    .mobile {
      display: none;
    }
  }