.footer {
    height: 137px;
    background-color: #029491;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between; 
    align-items: center;
}

.footer p {
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: white;
}

@media screen and (max-width: 1000px) {
    .container {
        margin: 0 19px;
    }
}