.imageMobile {
    display: none;
}

@media screen and (max-width: 1000px) {
    .imageMobile {
        display: block;
    }

    .imageMobile img {
        width: 100%;
    }
    
    .image {
        display: none;
    }
}
